#wrap {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.tab {
    height: 40px;
    width: 100px;
    border-bottom: 4px solid black;
    line-height: 40px;
    text-align: center;
    font-size: 20pt;
    float: left;
    cursor: pointer;
}

.selected {
    background-color: black;
    color: white;
    border: none;
}

#container {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
    clear: left;
}

.box {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    width: 400px;
    height: 200px;

    line-height: 200px;
    text-align: center;
    font-size: 28pt;
    cursor: pointer;
}

#first {
    top: 0px;
    left: 0px;
}

#second {
    top: 0px;
    left: 400px;
}

#third {
    top: 0px;
    left: 800px;
}

#four {
    top: 0px;
    left: 1200px;
}

#slide {
    transition: transform 1s ease-in-out 0s;
    -moz-transition: -moz-transform 1s ease-in-out 0s;
    -webkit-transition: -webkit-transform 1s ease-in-out 0s;
}

.move-to-second {
    transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
}

.move-to-third {
    transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -webkit-transform: translateX(-800px);
}

.move-to-first {
    transform: translateX(0px);
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);    
}

.move-to-four {
    transform: translateX(-1200px);
    -moz-transform: translateX(-1200px);
    -webkit-transform: translateX(-1200px);    
}